@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

body {
    min-height: 100vh;
    background: hsl(257, 40%, 49%) url(imagens/bg-desktop.svg) no-repeat;
    background-size: cover;
}

main {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho {
    padding: 55px 0 100px 0;
}

.imagem-tela {  
    width: 55%;
    height: 100%;
}

.principal {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;    
}

.registro {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    width: 500px;   
    margin-top: 50px;
}

.registro h1 {
    font-weight: 600;
    font-size: 50px;
}

.registro p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 160%;
    margin: 20px 0 25px 0;
}

.registro a {
    text-decoration: none;
}

button {
    color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 14px 60px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0 5px 15px rgb(50, 50, 50);
}

button:hover {
    color: #fff;
    background-color: hsl(300, 69%, 71%);   
}

.redes {
    display: flex;
    justify-content: flex-end;
    margin-top: 230px;         
}

.redes a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid;
    border-radius: 50%;   
    margin-left: 25px;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

.fa-brands {
    font-size: 25px;
}
