@media (max-width: 1435px) {
    .imagem-tela {
        margin: auto;
        max-width: 50%;
    }
    
    .registro {
        display: flex;
        flex-wrap: wrap;
        max-width: 40%;
    }
    
    .registro h1  {
        font-size: 45px;
    }

    .registro p {
        max-width: 90%;
    }

    .redes {
        display: flex;
        justify-content: end;
        margin: 260px 0 0 80px;
        
    }
    
    .redes a {
        width: 40px;
        height: 40px;
    }

    .fa-brands {
        font-size: 20px;
    }
}

@media (max-width: 1300px) and (min-width: 1105px) {
    .imagem-tela {
        margin: auto;
        margin-top: -40px;
     }

     .registro h1  {
        font-size: 40px;
        margin-top: -60px;
        margin-left: -30px;
    }

    .registro p {
        margin-left: -30px;
    }

    button {
        margin-left: -30px;
    }

    .redes {
        margin-left: 40px;
    }
} 

@media (max-width: 1105px) {
    .redes {
        margin-top: 150px;
        margin-left: 180px;
    }
}

/* @media (max-width: 1020px) {

} */

@media (max-width: 1020px) {
    main {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .cabecalho {
        width: 35%;
        margin: 30px auto 40px 95px;
        padding: 0;
    }

    .principal {
        display: flex;
        gap: 30px;
    }

    .imagem-tela {
       min-width: 70%;
    }

    .registro {
        display: flex;
        margin: auto;
        max-width: 100%;
        flex-direction: column;
        text-align: center;
    }
     
    .registro h1  {    
        font-size: 35px;
        max-width: 400px;
        width: 100%;
        margin: auto;
    }

    .registro p {
        margin-bottom: 25px;
        font-size: 18px;
        line-height: 170%;
        margin: auto;
        margin-top: 20px;
    }

    button {
        padding: 12px;
        width: 280px;
        margin-top: 30px;
    }

    .redes {
        margin: auto;
        margin-top: 40px;
        text-align: center;
        gap: 20px;
    }

    .redes a {
        width: 40px;
        height: 40px;
        margin: 0;           
    }
}

 @media (max-width: 495px) {
    .cabecalho {
        width: 45%;
        margin: 50px auto 40px 35px;
        padding: 0;
    }

    .imagem-tela {
        min-width: 90%;
     }

    .registro h1  {    
        font-size: 25px;
        max-width: 300px;
        margin-top: 20px;
    }

    .registro p {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 170%;
        margin: auto;
        margin-top: 20px;
    }

    button {
        padding: 12px;
        width: 70%;
        margin-top: 30px;
    }

    .redes {
        margin: auto;
        margin-top: 90px;
    }
 }