@media (max-width: 1160px) {
    main {
    display: flex;
    flex-direction: column;
    }

    .cabecalho {
        margin: 0 auto;
    }

    .imagem-tela {
        margin: 0 auto;
    }

    .redes {
        display: flex;
        justify-content: center;
    }

    button {
        display: flex;
        margin: 0 auto;
        justify-content: center;        
    }
}

@media (max-width: 560px) {
    .redes {
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }

    button {
        display: flex;       
        justify-content: center;        
    }
}
