@media (max-width: 1435px) {
    .imagem-tela {
        margin: auto;
        max-width: 50%;
    }
    
    .registro {
        display: flex;
        flex-wrap: wrap;
        max-width: 40%;
    }
    
    .registro h1  {
        font-size: 45px;
    }

    .registro p {
        max-width: 90%;
    }

    .redes {
        display: flex;
        justify-content: end;
        margin: 260px 0 0 80px;
        
    }
    
    .redes a {
        width: 40px;
        height: 40px;
    }

    .fa-brands {
        font-size: 20px;
    }
}

@media (max-width: 1300px) {
    .imagem-tela {
        margin: auto;
        margin-top: -40px;
     }

     .registro h1  {
        font-size: 40px;
        margin-top: -60px;
        margin-left: -30px;
    }

    .registro p {
        margin-left: -30px;
    }

    button {
        margin-left: -30px;
    }

    .redes {
        margin-left: 40px;
    }
} 

@media (max-width: 1105px) {
    .redes {
        margin-top: 150px;
        margin-left: 180px;
    }
}

/* @media (max-width: 1020px) {

} */

@media (max-width: 1020px) {
    main {
        display: flex;
        flex-direction: column;
        width: 70%;
    }

    .cabecalho {
        width: 195px;
        margin: auto;
    }

    .principal {
        position: relative;
    }

    .imagem-tela {
       min-width: 80%;
    }

    .registro {
        position: absolute;
        margin-top: 440px;
        width: 100%;
        max-width: 150%;
        justify-content: center;
    }
     
    .registro h1  {    
        font-size: 30px;
    }

    .registro p {
        text-align: center;
        line-height: 170%;
        margin-bottom: 25px;
        font-size: 16px;
    }

    button {
        padding: 12px;
        width: 280px;
    }

    .redes {
        position: absolute;
        top: 70px;
    }

    .redes a {
        width: 40px;
        height: 40px;
    }
}
